<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [48]:
!pip3 install sqlalchemy==2.0

Requirement already satisfied: sqlalchemy==2.0 in /Users/gabrielaribeiro/anaconda3/lib/python3.11/site-packages (2.0.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/gabrielaribeiro/anaconda3/lib/python3.11/site-packages (from sqlalchemy==2.0) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/gabrielaribeiro/anaconda3/lib/python3.11/site-packages (from sqlalchemy==2.0) (2.0.1)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [49]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [50]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [51]:
!pip install -q pandas==1.1.5

In [52]:
%sql sqlite:///my_data1.db

In [53]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/Users/gabrielaribeiro/anaconda3/lib/python3.11/site-packages/pandas/core/generic.py:2605: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

**Note:This below code is added to remove blank rows from table**

In [54]:
%sql create table SPACEXTABLE as select * from SPACEXTBLE where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTBLE
[SQL: create table SPACEXTABLE as select * from SPACEXTBLE where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [55]:
query = "SELECT distinct Launch_Site FROM SPACEXTBL"
cur.execute(query)

launch_sites = cur.fetchall()
for site in launch_sites:
    print(site[0])

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [56]:
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5

 * sqlite:///my_data1.db
(sqlite3.OperationalError) no such table: SPACEXTABLE
[SQL: SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 5]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [57]:
# Task 3: Display the total payload mass carried by boosters launched by NASA (CRS)
query = "SELECT SUM(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE PAYLOAD LIKE '%CRS%'"

# Execute the query
cur.execute(query)

# Fetch the result
total_payload_mass = cur.fetchone()[0]

# Display the total payload mass
print("Total payload mass carried by boosters launched by NASA (CRS):", total_payload_mass, "kg")

Total payload mass carried by boosters launched by NASA (CRS): 111268 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [58]:
query = "SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTBL WHERE Booster_version LIKE '%F9 v1.1%'"

# Execute the query
cur.execute(query)

# Fetch the result
average_payload_mass = cur.fetchone()[0]

# Display the total payload mass
print("Average payload mass carried by boosters launched by Booster (F9 v1.1): {:.2f} kg".format(average_payload_mass))

Average payload mass carried by boosters launched by Booster (F9 v1.1): 2534.67 kg

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [59]:
query = "SELECT DATE FROM SPACEXTBL WHERE LANDING_OUTCOME LIKE 'Success (ground pad)' ORDER BY DATE ASC LIMIT 1"

# Execute the query
cur.execute(query)

date = cur.fetchone()[0]

print("Date: ", date)

Date:  2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [60]:
query = "SELECT Booster_version FROM SPACEXTBL WHERE LANDING_OUTCOME LIKE 'Success (drone ship)' AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000"
cur.execute(query)

results = cur.fetchall()
for row in results:
    print(row)

('F9 FT B1022',)
('F9 FT B1026',)
('F9 FT  B1021.2',)
('F9 FT  B1031.2',)

### Task 7




##### List the total number of successful and failure mission outcomes

In [61]:
%sql SELECT MISSION_OUTCOME, COUNT(*) as total_number FROM SPACEXTBL GROUP BY MISSION_OUTCOME;

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [65]:
%sql SELECT BOOSTER_VERSION FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [63]:
%sql SELECT * FROM SPACEXTBL WHERE LANDING_OUTCOME LIKE 'SUCCESS%' AND (DATE BETWEEN '2015-01-01' AND '2015-12-31') ORDER BY DATE DESC

 * sqlite:///my_data1.db
Done.

[('2015-12-22', '1:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [68]:
%sql SELECT LANDING_OUTCOME,COUNT(*) AS Outcome_Count FROM SPACEXTBL WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' AND LANDING_OUTCOME IN ('Failure (drone ship)', 'Success (ground pad)') GROUP BY LANDING_OUTCOME ORDER BY Outcome_Count DESC;

 * sqlite:///my_data1.db
Done.

[('Failure (drone ship)', 5), ('Success (ground pad)', 3)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>